@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
:rout{
    --primary-color: #8a9ef0;
    --white-color: #ffffff;
    --black-color: #022446;
    --red-color: #ef1b04;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(201, 200, 142);/*var(--primary-color);*/
}

h1{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 48px;
    color: crimson;
    text-decoration: underline;
}
.container{

}
.container .clock{
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: pink;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4  ) ;
    position: relative;
}
.clock label{
    position: absolute;
    inset: 20px;
    text-align: center;
    transform: rotate(calc(var(--i) * (360deg / 12)));
}
.clock label span {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: black;
    transform: rotate(calc(var(--i) * (-360deg / 12)));
}
h5{
    font-size: 15px;
    color: aqua;
    border: 5px solid #022446;
    background: #000;
}